<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link href="">
    <title></title>
</head>
<body>
<nav class="navbar bg-dark" data-bs-theme="dark">
    <div>
        <a class="navbar-brand" th:href="@{/home}">Home</a>
        <a class="navbar-brand" th:href="@{/course/create}">Add Course</a>
    </div>
</nav>
<div layout:fragmen="content" class="container body-content"></div>
<div class="card-footer">
    <hr />
    Lập trình ứng dụng với Java - Nguyễn Như Tú - @2024
</div>
</body>
</html>