<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.w3.org/1999/xhtml"
      layout:decorate="_layout"
      xmlns:layout="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
<div layout:fragmen="content" class="row">
    <ul>
        <li th:each="course : ${listcourse}" th:text="${couse.getStarDate()} + ' _ '
                                                    + ${course.getLectureName()} + ' _ '
                                                    + ${course.getPlance()}"></li>
    </ul>
</div>
</body>
</html>